@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{margin:0px;padding:0px;}
body{
	font-family: 'Nanum Gothic', '돋움',dotum,Verdana,Arial,sans-serif;
	font-size: 12px;
}
button, a{border:0;background-color:transparent;cursor:pointer;}
ul, ol, dl, dt, dd{list-style:none;}
img{border:none;vertical-align:top;}
.checkBox{border:0px;background:none;}
.hide, hr, legend{overflow:hidden;visibility:hidden;position:absolute;width:1px;height:1px;font-size:0;line-height:0;}
ul.inline-block li{display:inline-block; *display:inline;}
.disabled a, .disabled{color: #777; background-color: #fff; cursor: not-allowed;}

/* form */
fieldset{border:0 !important;}
input{height:20px;margin:2px;padding:6px 12px;border:1px solid #ccc; border-radius:4px;background-color:#fff;color:#555;font-size:14px;line-height: 140%;vertical-align:middle;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;}
.input-sm{height:18px;margin:2px;padding:5px 10px;border-radius:3px;font-size:12px; line-height:150%;}
.input-lg{height:23px;margin:2px;padding:10px 16px;border-radius:6px;font-size:18px;line-height:130%;}
.input-block{display:block;width:98%;}
select, textarea{height:34px;margin:2px;padding:6px 12px;border:1px solid #ccc; border-radius:4px;background-color:#fff;color:#555;font-size:14px;line-height: 140%;vertical-align:middle;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;}
select[multiple], select[size], textarea{height:auto;}
.textarea-sm{font-size:12px;}
.textarea-lg{font-size:18px;}
.select-sm{height:30px;margin:2px;padding:5px 10px;border-radius:3px;font-size:12px;line-height:150%;}
.select-lg{height:45px;margin:2px;padding:10px 16px;border-radius:6px;font-size:18px;line-height:130%;}
input[type="button"], select[multiple], select[size], textarea{height:auto;}
input[type="radio"], input[type="checkbox"]{height:auto;margin-right: 3px;padding:0;display: inline-block;border:0; box-shadow: none;}

/* a */
a{text-decoration:none; color: #3989ff;}
a:hover, a:active{text-decoration:none;}

/* button */
button, .btn{display:inline-block;margin-bottom:0px;padding:6px 12px;border: 1px solid #cbcbcb;border-radius:4px;background:#fff;color:#909090;font-weight:normal;font-size:14px;line-height: 140%;text-align:center;white-space:nowrap;vertical-align:middle;cursor: pointer;-webkit-user-select:none;}
.btn-xs{padding:1px 5px;border-radius:3px;font-size:12px;line-height:150%;}
.btn-sm{padding:5px 10px;border-radius:3px;font-size:12px;line-height:150%;}
.btn-lg{padding:10px 16px;border-radius:6px;font-size:18px;line-height:130%;}
.btn-block{width:100%; padding-right:0;padding-left:0; display:block;}
.btn-image{padding:0px;border: 0px;}

/* table */
/* 아무 라인 없는 table */
table{width:100%;border-collapse:collapse;border-spacing:0;background-color:transparent;}
table th{padding:10px;font-weight:bold;text-align:left;}
table td{padding:10px;text-align:left;}
/* 전체 선있는 table */
.table-bordered th, .table-bordered td{border:1px solid;}
/* th, td에 위아래 선있는 table */
.table th{border-top:1px solid;border-bottom:1px solid;}
.table td{border-top:1px solid;border-bottom:1px solid;}
/* th에만 위아래 선있는 table */
.tableth th{border-top:1px solid;border-bottom:1px solid;}
/* td에만 위아래 선있는 table */
.tabletd td{border-top:1px solid;border-bottom:1px solid;}
/* 줄무늬행 table */
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{background-color:#f9f9f9;}
/* table 상단에 선있는 table */
.table-border-t1{border-top:1px solid;}
.table-border-t2{border-top:2px solid;}
.table-border-t3{border-top:3px solid;}
/* 모바일에서 가로 스크롤 생기는 테이블 (테이블 태그 위 div에 table-responsive라는 class명을 줘야한다) */
@media screen and (max-width: 767px){
.table-responsive{overflow-x:auto;overflow-y:hidden;width:100%;margin-bottom: 15px;border:1px solid #ddd; -webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;}
.table-responsive>.table{margin-bottom: 0;}
.table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td{white-space: nowrap;}
}

/* tab */
.nav{margin-bottom:0;padding-left:0;list-style:none;}
.nav > li > a{position: relative;display: block;}
/* 탭형 */
.nav-tabs{}
.nav-tabs > li{display:block;float:left;position:relative;}
.nav-tabs > li > a{line-height:140%;}
.nav-tabs > li > a:hover{}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{cursor: pointer;}
/* 100% 사이즈 탭형 */
.nav-tabs.nav-justified{width:100%;border-bottom:0;}
.nav-tabs.nav-justified > li{display: table-cell; float:none; width: 1%; *float: left; *display: inline-block; *width: 33.1%;}
.nav-tabs.nav-justified > li > a{text-align:center;}
.nav-tabs.nav-justified > .dropdown .dropdown-menu{top:auto;left:auto;}

/* background-color */
.bg-skyblue{border: 1px solid #4c97b1;background:#59afd5;color:#fff !important;}
.bg-skyblue:hover, .bg-skyblue:focus, .bg-skyblue:active, .bg-skyblue.active{border: 1px solid #4c97b1;background:#4c97b1;color:#fff !important;}
.bg-blue{border: 1px solid #3169d1;background:#3778fa;color:#fff !important;}
.bg-blue:hover, .bg-blue:focus, .bg-blue:active, .bg-blue.active{border: 1px solid #3169d1;background:#3169d1;color:#fff !important;}
.bg-navy{border: 1px solid #152e8c;background:#1a369d;color:#fff !important;}
.bg-navy:hover, .bg-navy:focus, .bg-navy:active, .bg-navy.active{border: 1px solid #152e8c;background:#152e8c;color:#fff !important;}
.bg-purple{border: 1px solid #5c259a;background:#742db8;color:#fff !important;}
.bg-purple:hover, .bg-purple:focus, .bg-purple:active, .bg-purple.active{border: 1px solid #5c259a;background:#5c259a;color:#fff !important;}
.bg-wine{border: 1px solid #842959;background:#9f3169;color:#fff !important;}
.bg-wine:hover, .bg-wine:focus, .bg-wine:active, .bg-wine.active{border: 1px solid #842959;background:#842959;color:#fff !important;}
.bg-red{border: 1px solid #bb1907;background:#d73224;color:#fff !important;}
.bg-red:hover, .bg-red:focus, .bg-red:active, .bg-red.active{border: 1px solid #bb1907;background:#bb1907;color:#fff !important;}
.bg-orange{border: 1px solid #d24f00;background:#f15b00;color:#fff !important;}
.bg-orange:hover, .bg-orange:focus, .bg-orange:active, .bg-orange.active{border: 1px solid #d24f00;background:#d24f00;color:#fff !important;}
.bg-yellow{border: 1px solid #d4a500;background:#f5be00;color:#fff !important;}
.bg-yellow:hover, .bg-yellow:focus, .bg-yellow:active, .bg-yellow.active{border: 1px solid #d4a500;background:#d4a500;color:#fff !important;}
.bg-olive{border: 1px solid #b4ac2f;background:#d0c837;color:#fff !important;}
.bg-olive:hover, .bg-olive:focus, .bg-olive:active, .bg-olive.active{border: 1px solid #b4ac2f;background:#b4ac2f;color:#fff !important;}
.bg-green{border: 1px solid #6e8236;background:#829b40;color:#fff !important;}
.bg-green:hover, .bg-green:focus, .bg-green:active, .bg-green.active{border: 1px solid #6e8236;background:#6e8236;color:#fff !important;}
.bg-lightgray{border: 1px solid #979797;background:#afafaf;color:#fff !important;}
.bg-lightgray:hover, .bg-lightgray:focus, .bg-lightgray:active, .bg-lightgray.active{border: 1px solid #979797;background:#979797;color:#fff !important;}
.bg-gray{border: 1px solid #616161;background:#717171;color:#fff !important;}
.bg-gray:hover, .bg-gray:focus, .bg-gray:active, .bg-gray.active{border: 1px solid #616161;background:#616161;color:#fff !important;}
.bg-black{border: 1px solid #000;background:#1d1d1d;color:#fff !important;}
.bg-black:hover, .bg-black:focus, .bg-black:active, .bg-black.active{border: 1px solid #000;background:#000;color:#fff !important;}
.bg-white{border: 1px solid #ccc;background:#fff;color:#999 !important;}
.bg-white:hover, .bg-white:focus, .bg-white:active, .bg-white.active{border: 1px solid #ccc; background:#fff;color:#999 !important;}

/* 정렬 */
.pull-left{float:left !important;}
.pull-right{float:right !important;}

/* 텍스트 정렬 */
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}
.text-center{text-align:center !important;}
.text-justify{text-align:justify !important;}

/* 인용구 */
blockquote {margin: 0 0 20px;padding: 10px 20px;border-left: 4px solid #eee;}
blockquote.pull-right {padding-right: 20px;padding-left: 0;border-right: 4px solid #eeeeee;border-left: 0;
}

/* 너비값 퍼센트로 지정
 * 0 ~ 100까지 5단위로 되어있으며, 그 이외 100을 1~ 10까지 나눠 떨어지는 수도 포함
 */
.width-percent0{width: 0% !important;}
.width-percent5{width: 5% !important;}
.width-percent10{width: 10% !important;}
.width-percent15{width: 15% !important;}
.width-percent20{width: 20% !important;}
.width-percent25{width: 25% !important;}
.width-percent30{width: 30% !important;}
.width-percent35{width: 35% !important;}
.width-percent40{width: 40% !important;}
.width-percent45{width: 45% !important;}
.width-percent50{width: 50% !important;}
.width-percent55{width: 55% !important;}
.width-percent60{width: 60% !important;}
.width-percent65{width: 65% !important;}
.width-percent70{width: 70% !important;}
.width-percent75{width: 75% !important;}
.width-percent80{width: 80% !important;}
.width-percent85{width: 85% !important;}
.width-percent90{width: 90% !important;}
.width-percent95{width: 95% !important;}
.width-percent100{width: 100% !important;}
.width-percent11{width: 11.1% !important;}
.width-percent12{width: 12.5% !important;}
.width-percent14{width: 14.2% !important;}
.width-percent16{width: 16.6% !important;}
.width-percent33{width: 33.3% !important;}

/* margin + padding */
.margin0{margin:0px;}
.margin5{margin:5px;}
.margin10{margin:10px;}
.margin15{margin:15px;}
.margin20{margin:20px;}
.margin25{margin:25px;}
.margin30{margin:30px;}
.margin-top5{margin-top:5px;}
.margin-top10{margin-top:10px;}
.margin-top15{margin-top:15px;}
.margin-top20{margin-top:20px;}
.margin-top25{margin-top:25px;}
.margin-top30{margin-top:30px;}
.margin-right5{margin-right:5px;}
.margin-right10{margin-right:10px;}
.margin-right15{margin-right:15px;}
.margin-right20{margin-right:20px;}
.margin-right25{margin-right:25px;}
.margin-right30{margin-right:30px;}
.margin-bottom0{margin-bottom:0px !important;}
.margin-bottom5{margin-bottom:5px;}
.margin-bottom10{margin-bottom:10px;}
.margin-bottom15{margin-bottom:15px;}
.margin-bottom20{margin-bottom:20px;}
.margin-bottom25{margin-bottom:25px;}
.margin-bottom30{margin-bottom:30px;}
.margin-left5{margin-left:5px;}
.margin-left10{margin-left:10px;}
.margin-left15{margin-left:15px;}
.margin-left20{margin-left:20px;}
.margin-left25{margin-left:25px;}
.margin-left30{margin-left:30px;}
.padding0{padding:0px;}
.padding5{padding:5px;}
.padding10{padding:10px;}
.padding15{padding:15px;}
.padding20{padding:20px;}
.padding25{padding:25px;}
.padding30{padding:30px;}
.padding-top5{padding-top:5px;}
.padding-top10{padding-top:10px;}
.padding-top15{padding-top:15px;}
.padding-top20{padding-top:20px;}
.padding-top25{padding-top:25px;}
.padding-top30{padding-top:30px;}
.padding-right5{padding-right:5px;}
.padding-right10{padding-right:10px;}
.padding-right15{padding-right:15px;}
.padding-right20{padding-right:20px;}
.padding-right25{padding-right:25px;}
.padding-right30{padding-right:30px;}
.padding-bottom5{padding-bottom:5px;}
.padding-bottom10{padding-bottom:10px;}
.padding-bottom15{padding-bottom:15px;}
.padding-bottom20{padding-bottom:20px;}
.padding-bottom25{padding-bottom:25px;}
.padding-bottom30{padding-bottom:30px;}
.padding-left5{padding-left:5px;}
.padding-left10{padding-left:10px;}
.padding-left15{padding-left:15px;}
.padding-left20{padding-left:20px;}
.padding-left25{padding-left:25px;}
.padding-left30{padding-left:30px;}

/* 가상 클래스 */
div > p:first-child{} /* div 자식 요소 중 최초에 등장하는 p 요소 */
:lang(en){font-family:Verdana,Arial,sans-serif;} /* <p lang="en-US"> */

/* 반응형 유틸리티 */
.hidden-xs{display:block !important;} /* 매우 작은 기기에서 숨겨짐 */
.hidden-sm{display:block !important;} /* 작은 기기에서 숨겨짐 */
.hidden-md{display:block !important;} /* 중간 기기에서 숨겨짐 */
.hidden-lg{display:block !important;} /* 큰 기기에서 숨겨짐 */
.visible-xs, 
.visible-sm, 
.visible-md, 
.visible-lg{display:none !important;}

/* 매우 작은 기기 */
@media (max-width:767px) {
	.visible-xs{display:block !important;}
	.hidden-xs{display:none !important;}
	.btn-sm-group .pull-left,
	.btn-sm-group .pull-right{float:none !important;}
}
/* 작은 기기 */
@media (min-width:768px) and (max-width:991px) {
	.visible-sm{display:block !important;}
	.hidden-sm{display:none !important;}
}
/* 중간 기기 */
@media (min-width:992px) and (max-width:1199px) {
	.visible-md{display:block !important;}
	.hidden-md{display:none !important;}
}
 /* 큰 기기 */
@media (min-width:1200px) {
	.visible-lg{display:block !important;}
	.hidden-lg{display:none !important;}
}


/** header **/
h1{
	float: left;
	width: 101px;
	height: 14px;
	margin-right: 153px;
	margin-left: 200px;
	padding: 25px 0;
}

/* gnb */
#gnb ul{
	float: left;
}
#gnb ul li{
	padding: 23px 30px;	
	*padding: 0;
}
#gnb ul li a{
	display: block;
	*display: inline-block;
	height: 14px;
	*margin: 25px 30px;
}
#gnb ul li.menu1 a{
	width: 38px;
	background: url(../images/common/gnb1.png) 0 0 no-repeat;
}
#gnb ul li.menu1 a:hover, #gnb ul li.menu1 a:focus, #gnb ul li.menu1.active a{
	background: url(../images/common/gnb1-on.png) 0 0 no-repeat;
}
#gnb ul li.menu2 a{
	width: 65px;
	background: url(../images/common/gnb2.png) 0 0 no-repeat;
}
#gnb ul li.menu2 a:hover, #gnb ul li.menu2 a:focus, #gnb ul li.menu2.active a{
	background: url(../images/common/gnb2-on.png) 0 0 no-repeat;
}
#gnb ul li.menu3 a{
	width: 25px;
	background: url(../images/common/gnb3.png) 0 0 no-repeat;
}
#gnb ul li.menu3 a:hover, #gnb ul li.menu3 a:focus, #gnb ul li.menu3.active a{
	background: url(../images/common/gnb3-on.png) 0 0 no-repeat;
}
#gnb ul li.menu4 a{
	width: 38px;
	background: url(../images/common/gnb4.png) 0 0 no-repeat;
}
#gnb ul li.menu4 a:hover, #gnb ul li.menu4 a:focus, #gnb ul li.menu4.active a{
	background: url(../images/common/gnb4-on.png) 0 0 no-repeat;
}

/* sns */
.sns-group{
	float: right;
	margin: 20px 200px 17px 00
}
.sns-group ul li{
	margin: 0 3px;
}

/** footer **/
/* help-group */
#help-group{
	padding: 25px 0 20px;
}
#help-group, #address-group{
	margin-left: 200px;
}
#help-group ul li > img{
	margin: 0 12px;
}