@charset "utf-8";
/* CSS Document */

#wrap{
	width: 100%;
	min-width: 1330px;
	background: #eee;	
}
#content-group{
	position: relative;
	width: 1330px;
	margin: 0 auto;
}

/* header */
#header{
	position: relative;
	height: 65px;
	background: #303942 url(../images/common/bg-header.gif) 0 0 repeat;
}
#header-group, #footer-group{
	position: relative;
	width: 1330px;
	margin: 0 auto;
}
/* content */
#profile-group{
	float: left;
	width: 278px;
	min-height: 856px;
	border-left: 1px solid #dedede;
}
#portfolio-group{
	float: left;
	width: 680px;
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
#site-group{
	float: right;
	width: 278px;
	min-height: 856px;
	border-right: 1px solid #dedede;
}
#profile-group, #portfolio-group, #site-group{
	padding: 30px 15px;
}

/* footer */
#footer{
	height: 110px;
	background: #7e47b4;
}

@media (max-width:767px) {
	#wrap{min-width: 100%;}
	#header{height: auto;}
	#header-group, #content-group, #footer-group{width: 100%;}
	#profile-group, #site-group{display: none;}
	#portfolio-group{
		float: none;
		width: 100%;
		padding: 0;
		border: 0;
	}
}
