@charset "utf-8";
/* CSS Document */

h2{
	margin: 40px 0 15px 0;
}
#portfolio-group{
	position: relative;
	top: 0;
	left: 0;
}
#portfolio-group ul li{
	float: left;
	width: 33.33%;
	padding: 30px 0;
	vertical-align: top;
}
#portfolio-group ul li dl dt{
	height: 165px;
	padding-bottom: 15px;
}
#portfolio-group ul li dl dt a:hover{
	color: #333;
	text-decoration: underline;
}
#portfolio-group ul li dl dt a span{
	display: block;
	margin:0 10px;
	padding-top: 13px;
	color: #333;
}
#more-group{
	position: absolute;
	top: 61px;
  	right: 6px;
	left: auto;
}
#more-group a{
	display: block;
	padding: 10px;
	text-align: center;
}

@media (min-width:1024px) and (max-width:1210px){}
@media (min-width:768px) and (max-width:1024px){}
@media (max-width:767px){}
@media (max-width:768px){}



